# Data Frame

In [1]:
import pandas as pd
data = {
    'Name': ['Shreash', 'Yash', 'Om'],
    'Age': [24, 27, 22],
    'City': ['Bmt', 'Bmt', 'Baramati']
    
}
df = pd.DataFrame(data)
print(df)

      Name  Age      City
0  Shreash   24       Bmt
1     Yash   27       Bmt
2       Om   22  Baramati

In [2]:
# Describe: To get statistical summary of numeric columns.
print(df.describe())

             Age
count   3.000000
mean   24.333333
std     2.516611
min    22.000000
25%    23.000000
50%    24.000000
75%    25.500000
max    27.000000

In [3]:
# Apply Function:
df['Age'] = df['Age'].apply(lambda x: x + 1)
print(df)

      Name  Age      City
0  Shreash   25       Bmt
1     Yash   28       Bmt
2       Om   23  Baramati

In [4]:
# value_counts()
import pandas as pd
# Example DataFrame
data = {'Category': ['A', 'B', 'A', 'A', 'C', 'B', 'B']}
df = pd.DataFrame(data)
# Count the occurrences of each category
print(df['Category'].value_counts())

A    3
B    3
C    1
Name: Category, dtype: int64

In [5]:
# Get unique categories
print(df['Category'].unique())

['A' 'B' 'C']

In [6]:
# Count the number of unique categories
print(df['Category'].nunique())

3

In [7]:
import pandas as pd
# Sample DataFrame
data = {
    'A': [1, 2, 2, 3, 4, 4, 4],
    'B': [5, 6, 6, 6, 7, 8, 9],
    'C': ['apple', 'banana', 'apple', 'banana', 'banana', 'apple', 'banana'],
    'D': [10, 20, 30, 40, 50, 60, 70]
}
df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

Original DataFrame:
    A  B       C   D
0  1  5   apple  10
1  2  6  banana  20
2  2  6   apple  30
3  3  6  banana  40
4  4  7  banana  50
5  4  8   apple  60
6  4  9  banana  70

In [8]:
# Sort by columns 'A' and 'B'
sorted_df_multi = df.sort_values(by=['A', 'B'])
print("\nDataFrame sorted by columns 'A' and 'B':\n", sorted_df_multi)

DataFrame sorted by columns 'A' and 'B':
    A  B       C   D
0  1  5   apple  10
1  2  6  banana  20
2  2  6   apple  30
3  3  6  banana  40
4  4  7  banana  50
5  4  8   apple  60
6  4  9  banana  70

In [9]:
# Group by columns 'A' and 'C' and calculate the sum of each group
grouped_sum = df.groupby(['A', 'C']).sum()
print("\nSum of each group by columns 'A' and 'C':\n", grouped_sum)

Sum of each group by columns 'A' and 'C':
            B    D
A C
1 apple    5   10
2 apple    6   30
  banana   6   20
3 banana   6   40
4 apple    8   60
  banana  16  120