In [15]:
#List creation [] ()
l1= ["apple",1, "banana",5, "cherry",4,"banana"]
l1

['apple', 1, 'banana', 5, 'cherry', 4, 'banana']

In [16]:
type(l1)

list

In [17]:
# empty list
my_list = []
my_list

[]

In [18]:
# list of integers
my_list = [1, 2, 3]
my_list

[1, 2, 3]

In [19]:
# list with mixed datatypes
my_list = [1, "Hello", 3.4]
my_list

[1, 'Hello', 3.4]

In [20]:
# nested list
my_list = [["mi",1, 2], 3, ['a']]
my_list

[['mi', 1, 2], 3, ['a']]

In [21]:
#Accesing the items
#You access the list items by referring to the index number
l1[0]
my_list = ['a','b','c','d','e']

In [22]:
#+ve indexing starting start from zero
#-ve indexing starting from -1
my_list[-2]

'd'

In [23]:
my_list[:] #start: include and end:exclude

['a', 'b', 'c', 'd', 'e']

In [24]:
my_list[2]

'c'

In [25]:
my_list[2]

'c'

In [26]:
# Nested List
n_list = ["Hiii", [0,1,2,[3]]]
n_list[-1][3][-1]

3

In [27]:
# Nested indexing
n_list[-1][-1][-1]

3

In [28]:
n_list[1][3]

[3]

In [29]:
#Negative Indexing-Python allows negative indexing for its sequences. 
#The index of -1 refers to the last item, -2 to the second last item and so
my_list = ['a','b','c','d','e']
my_list

['a', 'b', 'c', 'd', 'e']

In [30]:
print(my_list[4])

e

In [35]:
#Slicing-We can access a range of items in a list by using the slicing oper
my_list = ['a','b','c','d','e','f','g','h','i']
my_list[:]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [36]:
# elements 3rd to 5th    #start:include       end: exclude
print(my_list[3:6])

['d', 'e', 'f']

In [37]:
# elements 6th to end
print(my_list[6:])

['g', 'h', 'i']

In [38]:
# elements beginning to end
print(my_list[:])

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [39]:
#Change the item value
#To change the value of a specific item, refer to the index number
l1[1] = "blackcurrant"
l1

['apple', 'blackcurrant', 'banana', 5, 'cherry', 4, 'banana']

In [43]:
#1-append()-appends an element to the end of the list.
x=["apple","banana","cherry",1,2,3,"AIS"]
x.append("apple")
y=[5,46,82,61,54,67]
y.sort()
y

[5, 46, 54, 61, 67, 82]

In [44]:
x.count("banana")

1

In [45]:
x.remove("AIS")
x

['apple', 'banana', 'cherry', 1, 2, 3, 'apple']

In [46]:
x.pop(-1)
x

['apple', 'banana', 'cherry', 1, 2, 3]

In [47]:
# x.clear()
x

['apple', 'banana', 'cherry', 1, 2, 3]

In [48]:
x1=x.copy()
x1

['apple', 'banana', 'cherry', 1, 2, 3]

In [49]:
x.reverse()
x

[3, 2, 1, 'cherry', 'banana', 'apple']

In [50]:
x.index("banana")

4

In [51]:
# append : only one value
# Extend : more than 2 value
 
x.append([100,200,300])
x

[3, 2, 1, 'cherry', 'banana', 'apple', [100, 200, 300]]

In [52]:
#2-clear()-removes all the elements from a list
fruits=[1,2,3]

In [53]:
print(fruits)

[1, 2, 3]

In [54]:
#3-copy()-returns a copy of the specified list
fruits = ['apple', 'banana', 'cherry', 'orange',"cherry"]

In [55]:
f2=fruits.copy()
f2

['apple', 'banana', 'cherry', 'orange', 'cherry']

In [56]:
id(f2)

1220216163392

In [57]:
id(fruits)

1220216519616

In [58]:
fruits

['apple', 'banana', 'cherry', 'orange', 'cherry']

In [59]:
fruits.pop(0)

'apple'

In [60]:
fruits

['banana', 'cherry', 'orange', 'cherry']

In [61]:
f2

['apple', 'banana', 'cherry', 'orange', 'cherry']

In [62]:
#4-count()-returns the number of elements with the specified value
fruits.count("cherry")#3-copy()-returns a copy of the specified list

2

In [63]:
fruits = ['apple', 'banana', 'cherry', 'orange',"cherry"]

In [64]:
#5-extend()-adds the specified list elements (or any iterable) to the end o
cars = ['Ford', 'BMW', 'Volvo']
cars

['Ford', 'BMW', 'Volvo']

In [65]:
fruits.append(cars)
fruits

['apple', 'banana', 'cherry', 'orange', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [66]:
len(fruits)

6

In [67]:
fruits.extend(cars)

In [68]:
fruits

['apple',
 'banana',
 'cherry',
 'orange',
 'cherry',
 ['Ford', 'BMW', 'Volvo'],
 'Ford',
 'BMW',
 'Volvo']

In [69]:
fruits

['apple',
 'banana',
 'cherry',
 'orange',
 'cherry',
 ['Ford', 'BMW', 'Volvo'],
 'Ford',
 'BMW',
 'Volvo']

In [70]:
#6-index()-returns the position at the first occurrence of the specified va
fruits.index("apple")

0

In [71]:
#7-insert()-inserts the specified value at the specified position
fruits.insert(0,"pune")

In [72]:
print(fruits)

['pune', 'apple', 'banana', 'cherry', 'orange', 'cherry', ['Ford', 'BMW', 'Volvo'], 'Ford', 'BMW', 'Volvo']

In [73]:
fruits

['pune',
 'apple',
 'banana',
 'cherry',
 'orange',
 'cherry',
 ['Ford', 'BMW', 'Volvo'],
 'Ford',
 'BMW',
 'Volvo']

In [74]:
#position : pop
#value: remove
#8-pop()-removes the element at the specified position
fruits.pop(2)

'banana'

In [75]:
fruits

['pune',
 'apple',
 'cherry',
 'orange',
 'cherry',
 ['Ford', 'BMW', 'Volvo'],
 'Ford',
 'BMW',
 'Volvo']

In [76]:
fruits.remove("cherry")
fruits

['pune',
 'apple',
 'orange',
 'cherry',
 ['Ford', 'BMW', 'Volvo'],
 'Ford',
 'BMW',
 'Volvo']

In [77]:
#9-remove()-removes the specified item
thislist = ["apple", "banana", "cherry"]
thislist

['apple', 'banana', 'cherry']

In [78]:
#10-reverse()-reverses the sorting order of the elements
fruits.reverse()

In [79]:
r=[1,2,3,4,5]
r.reverse()
r

[5, 4, 3, 2, 1]

In [80]:
fruits

['Volvo',
 'BMW',
 'Ford',
 ['Ford', 'BMW', 'Volvo'],
 'cherry',
 'orange',
 'apple',
 'pune']

In [81]:
#10-sort()-sorts the list ascending by default
r.sort()
r

[1, 2, 3, 4, 5]

In [82]:
l=(1,2,3,4)
l1=l
l1

(1, 2, 3, 4)

In [85]:
l1.append(100)

AttributeError: 'tuple' object has no attribute 'append'

In [86]:
l1

(1, 2, 3, 4)

In [87]:
id(l)

1220216126128

In [88]:
int(float("5.0"))

5

In [ ]:
tuple==> list, set
list ==> tuple , set
set==> tuple, list
int ==> float, str
float==> int, str
str==> int, float