In [1]:
#Python For Loops
#A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

#This is less like the for keyword in other programming languages, and 
#works more like an iterator method as found in other object-orientated programming languages.
#With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [2]:
#Example
#Print each fruit in a fruit list:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [3]:
#example 2
a=[1,2,3,4,5]

for x in a:
    print(x)

1
2
3
4
5

In [8]:
#Looping Through a String
#Even strings are iterable objects, they contain a sequence of characters:

#Example 3
#Loop through the letters in the word "banana":

for x in "banana":
    print(x)

b
a
n
a
n
a

In [9]:
#example 4
for x in "Yash":
    print(x)

Y
a
s
h

In [15]:
#The break Statement:
#With the break statement we can stop the loop before it has looped through all the items:

#Example 5
#Exit the loop when x is "Shree":

A = ["Yash", "Shree", "Shreyash"]
for x in A:
    print(x)
    if x == "Shree":
        break

Yash
Shree

In [21]:
#Example 6
#Exit the loop when x is "Shree", but this time the break comes before the print:

A = ["Yash", "Shree", "Shreyash"]
for x in A:
    if x == "Shree":
        break
    print(x)

Yash

In [23]:
#The continue Statement:
#With the continue statement we can stop the current iteration of the loop, and continue with the next:

#Example 7
#Do not print Shree:

A = ["Yash", "Shree", "Shreyash"]
for x in A:
    if x == "Shree":
        continue
    print(x)

Yash
Shreyash

In [24]:
#The range() Function:
#To loop through a set of code a specified number of times, we can use the range() function,
#The range() function returns a sequence of numbers, starting from 0 by default, and 
#increments by 1 (by default), and ends at a specified number.

#The range() function defaults to 0 as a starting value

#Example 8
#Using the range() function:

for x in range(6):
    print(x)

0
1
2
3
4
5

In [26]:
#however it is possible to specify the starting value 
#by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6):

#Example 9
#Using the start parameter:

for x in range(2, 6):
    print(x)

2
3
4
5

In [27]:
#The range() function defaults to increment the sequence by 1, 
#however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3):

#Example 10
#Increment the sequence with 3 (default is 1):

for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29